table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }
/*
td[_ngcontent-raj-c138], th[_ngcontent-raj-c138] {
  width: 0%!important;
} */